<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<h3>View Customer</h3>
<p>
    <a th:href="@{/list}">
        Back to product list
    </a>
</p>
<div id="form " th:object="${product}">

    <div>
        <label>Id</label>
        <a  th:text="${product.getId()} "></a>
    </div>

        <div>
            <label>Tên sản phẩm</label>
            <a th:text="${product.getNameProduct()}"></a>
        </div>

    <div>
        <label>Giá sản phẩm</label>
        <a th:text="${product.getPriceProduct()}"></a>
    </div>

    <div>
        <label>Chi tiết sản phẩm</label>
        <a  th:text="${product.getDetailProduct()}"></a>
    </div>

    <div>
        <label>Nhà sản xuất</label>
        <a  th:text="${product.getProduction()}"></a>
    </div>

</div>
</body>
</html>