<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Add Customer</h3>
<p>
    <a th:href="@{/list}">
        Back to music list
    </a>
</p>
<div id="form">
    <form th:action="@{/create}" th:object="${musicM}" method="post">
        <div>
            <input type="hidden" th:field="*{id}">
        </div>
        <div>
            <label>Tên bài hát</label>
            <input type="text" th:field="*{name}">
        </div>

        <div>
            <label>Ca sĩ</label>
            <input type="text" th:field="*{singer}">
        </div>

        <div>
            <label>Thể loại</label>
            <input type="text" th:field="*{category}">
        </div>

        <div>
            <label>Link</label>
            <input type="text" th:field="*{link}">
        </div>

        <button type="submit">Add new</button>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>