<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <!-- CSS only -->
    <link rel="stylesheet" href="/bootstrap-4.0.0-dist/css/bootstrap.min.css">

</head>
<body>
<h3>Add Customer</h3>
<p>
    <a th:href="@{/index}">
        Back to product list
    </a>
</p>
<div id="form">
    <form th:action="@{/delete}" th:object="${product}" method="post">
        <input type="hidden" th:field="*{id}">
        <div>
            <label>Tên sản phẩm</label>
            <input type="text" th:field="*{nameProduct}">
        </div>

        <div>
            <label>Giá sản phẩm</label>
            <input type="text" th:field="*{priceProduct}">
        </div>

        <div>
            <label>Chi tiết sản phẩm</label>
            <input type="text" th:field="*{detailProduct}">
        </div>

        <div>
            <label>Nhà sản xuất</label>
            <input type="text" th:field="*{production}">
        </div>

<!--        <button type="submit">Delete</button>-->

        <button type="button" class="btn btn-primary" data-toggle="modal"
                data-target="#h${product.id}">
            Delete
        </button>
        <div class="modal fade" id="h${product.id}" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Are you sure</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <p>You want delete ${product.id}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">delete</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<footer ></footer>
<!--<footer th:replace="/layout :: footer"></footer>-->
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

<script src="/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
</html>